@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #77D1E9, #B8FEE6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #31555f79;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1 {
    color: #FF7F02;
    text-align: center;
    text-shadow: 1px 1px 0px #884501be;
}

h2 {
    color: #915201;

}

p {
    text-align: justify;
}